<p id="notice"><%= notice %></p>

<h1>Listing Questions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Lien</th>
      <th>Order</th>
      <th>Level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.name %></td>
        <td><%= question.description %></td>
        <td><%= question.lien %></td>
        <td><%= question.order %></td>
        <td><%= question.level_id %></td>
        <td><%= link_to 'Show', [@program,@level,question]  %></td>
        <td><%= link_to 'Edit', edit_program_level_question_path(@program,@level,question) %></td>
        <td><%= link_to 'Destroy', [@program,@level,question], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_program_level_question_path(@program,@level)  %>